clustering-benchmarks
Cython
tensorflow
bs4
ipywidgets
umap-learn
tensorflow-hub
gensim
kmodes
numpy
pandas
hdbscan
minisom
scikit-learn
kmedoids
python-dotenv 
altgraph
torch
transformers
sentence-transformers
ipykernel 
notebook 
jupyterlab
retry
sklearn-learn-extra